@page "/fetchWeather"
@inject HttpClient Http
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@if (currentWeather == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Current Weather</h1>

    <p>This component fetches data from Open Weather Map API.</p>

    <div class="pb-4">
        <select class="btn btn-primary" @onchange=UpdatePage>
            @foreach (var location in locations)
            {
                <option value=@location>@location</option>
            }
        </select>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <td>Local time</td>
                <td>@GetLocalTime(currentWeather.Timezone)</td>
            </tr>
            <tr>
                <td>Temperature</td>
                <td>@String.Format(decimalFormat, currentWeather.Main.Temp) &deg;C</td>
            </tr>
            <tr>
                <td>Feels like</td>
                <td>@String.Format(decimalFormat, currentWeather.Main.Feels_Like) &deg;C</td>
            </tr>
            <tr>
                <td>Maximum temperature</td>
                <td>@String.Format(decimalFormat, currentWeather.Main.Temp_Max) &deg;C</td>
            </tr>
            <tr>
                <td>Minimum temperature</td>
                <td>@String.Format(decimalFormat, currentWeather.Main.Temp_Min) &deg;C</td>
            </tr>
            <tr>
                <td>Humidity</td>
                <td>@currentWeather.Main.Humidity %</td>
            </tr>
            <tr>
                <td>Pressure</td>
                <td>@currentWeather.Main.Pressure hPa</td>
            </tr>
            <tr>
                <td>Visibility</td>
                <td>@currentWeather.Visibility m</td>
            </tr>
            <tr>
                <td>Wind speed</td>
                <td>@String.Format(decimalFormat, currentWeather.Wind.Speed) m/s</td>
            </tr>
            <tr>
                <td>Cloudiness</td>
                <td>@currentWeather.Clouds.All %</td>
            </tr>
            <tr>
                <td>Sunrise</td>
                <td>@GetLocalTime(currentWeather.Timezone, currentWeather.Sys.Sunrise)</td>
            </tr>
            <tr>
                <td>Sunset</td>
                <td>@GetLocalTime(currentWeather.Timezone, currentWeather.Sys.Sunset)</td>
            </tr>
            <tr>
                <td>Coordinate</td>
                <td>@currentWeather.Coord.Lon, @currentWeather.Coord.Lat</td>
            </tr>
            <tr>
                <td>Country code</td>
                <td>@currentWeather.Sys.Country</td>
            </tr>
        </tbody>
    </table>
}

@code {
    private CurrentWeather currentWeather;
    private string decimalFormat = "{0:00.00}";

    private List<string> locations = new List<string>() { "Stockholm", "London", "Berlin", "Hawaii", "Hong Kong" };

    protected override async Task OnInitializedAsync()
    {
        locations.Sort();
        await PopulatePage(locations.FirstOrDefault());
    }

    private async Task UpdatePage(ChangeEventArgs e)
    {
        var selectedLocation = e.Value.ToString();
        await PopulatePage(selectedLocation);
    }

    private async Task PopulatePage(string location)
    {
        var key = Configuration["OpenWeatherMapAPI:Key"];
        var url = String.Format(Configuration["OpenWeatherMapAPI:Url"], location, key);

        currentWeather = await Http.GetFromJsonAsync<CurrentWeather>(url);
    }

    private DateTime GetLocalTime(int timezone, int? unixTimeSeconds = null)
    {
        DateTime utcTime;
        if (unixTimeSeconds.HasValue)
        {
            utcTime = DateTimeOffset.FromUnixTimeSeconds(unixTimeSeconds.Value).UtcDateTime;
        }
        else
        {
            utcTime = DateTime.UtcNow;
        }

        return utcTime.AddSeconds(timezone);
    }

    public class CurrentWeather
    {
        public Coord Coord { get; set; }
        public Weather[] Weather { get; set; }
        public string Base { get; set; }
        public Main Main { get; set; }
        public int Visibility { get; set; }
        public Wind Wind { get; set; }
        public Clouds Clouds { get; set; }
        public int Dt { get; set; }
        public Sys Sys { get; set; }
        public int Timezone { get; set; }
        public int Id { get; set; }
        public string Name { get; set; }
        public int Cod { get; set; }

    }


    public class Coord
    {
        public double Lon { get; set; }
        public double Lat { get; set; }
    }

    public class Weather
    {
        public double Id { get; set; }
        public string Main { get; set; }
        public string Description { get; set; }
        public string Icon { get; set; }
    }

    public class Main
    {
        public double Temp { get; set; }
        public double Feels_Like { get; set; }
        public double Temp_Min { get; set; }
        public double Temp_Max { get; set; }
        public int Pressure { get; set; }
        public int Humidity { get; set; }
    }

    public class Wind
    {
        public double Speed { get; set; }
        public int Deg { get; set; }
        public double Gust { get; set; }
    }

    public class Clouds
    {
        public int All { get; set; }
    }

    public class Sys
    {
        public int Type { get; set; }
        public int Id { get; set; }
        public string Country { get; set; }
        public int Sunrise { get; set; }
        public int Sunset { get; set; }
    }
}
